set editing-mode vi

$if mode=vi

set keymap vi-command
# these are for vi-command mode
Control-o: clear-screen

set keymap vi-insert
# these are for vi-insert mode
Control-o: clear-screen 
$endif

# Ignore case
set completion-ignore-case on
